# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/inspectionProfiles/
.idea/modules.xml
.idea/mongooseExample.iml
.idea/vcs.xml
.idea/workspace.xml
node_modules/
package-lock.json
package.json
